<%= render 'shared/navbar_results' %>
<div class="container">
  <h1 class="title-h1">
    <% if @recipes.count == 0 %>
      <%= "Sorry, we could not find any recipes that match your ingredients!" %>
    <% else %>
      <%= "WE FOUND (#{@recipes.count}) RECIPES!" %>
    <% end %>
  </h1>
  <div class="filter">
    <h4 class="title-h4">Filter <i class="fas fa-filter"></i></h4>
    <%= link_to 'season', recipes_path(order: 'season', i: params[:i]) %>
    |
    <%= link_to 'match', recipes_path(order: 'match', i: params[:i]) %>
  </div>
  <div class="row">
    <% @recipes.each do |r| %>
      <div class="card">
        <div class="card-image" style="background-image: linear-gradient(rgba(250,250,250,0.3), rgba(0,0,0,0)), url(<%= r.photo %>);">
          <div class="card-like"><i class="far fa-heart"></i></div>
        </div>
        <div class="card-details">
          <h4 class="title-h4"><%= r.shortened_title %></h4>
          <div class="stats">
            <% if @selected_ingrs %>
              <p>
                <i class="fas fa-check"></i>
                <%= r.ingredients_match(@selected_ingrs) %>/<%= r.ingredients.count %> ingredients match
              </p>
            <% end %>
            <p><i class="fas fa-seedling"></i><%= r.seasonal_score %>% in season</p>
          </div>
          <%= link_to "", recipe_path(r, i: @dash_ingrs), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


