<%= render 'shared/navbar_show', dash_ingrs: params[:i] %>
<div class="container">
  <div class="row show-head">
    <div class="col-xs-12">
      <div id="page-method-head" style="display: none;">
        <%= render 'method_head', recipe: @recipe %>
      </div>
      <div id="page-ingredients-head">
        <%= render 'ingredients_head', ingredients: @ingredients %>
      </div>
    </div>
  </div>
  <div class="row show-buttons">
    <button id="btn-method">COOK IT</button>
    <button id="btn-ingrs">INGREDIENTS</button>
  </div>
  <div class="row show-body">
    <div id="page-method" style="display: none;">
      <%= render 'method', recipe: @recipe %>
    </div>
    <div id="page-ingredients">
      <%= render 'ingredients', ingredients: @ingredients, selected: @selected %>
    </div>
    </div>

    <div>
      <h4 class="selected-recipes">CHECK OUT OTHER SEASONAL RECIPES</h4>
      <%= render 'recipes/selected_recipes' %>
  </div>
</div>

<%= javascript_pack_tag 'results' %>

