<%= render 'shared/navbar_index' %>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="title-index">WHAT TO EAT?</h2>
         <div id="autocomplete-container">
          <form action="#">
            <input type="text" placeholder="&#xf0fe     Add Ingredients" autofocus="true" id="autocomplete-input"></input>
            <ul id="autocomplete-results"></ul>
            <h5 id="chosen-ingred" style="display: none;">Chosen ingredients:</h5>
            <ul id="selected"></ul>
            <button id="get-recipes-btn">FIND YOUR RECIPE</button>
          </form>
        </div>
      </div>
    </div>

    <%= image_tag 'food.png', class: 'image-food' %>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3 class="header-index">GET IN SEASON</h3>
        <p><i class="fab fa-pagelines"></i> Want to help the planet and your own pocket.</p>

        <p><i class="fab fa-pagelines"></i> Want to eat better tasting food.</p>

        <p><i class="fab fa-pagelines"></i> Want to help your local environment by purchasing seasonal and supporting local farmers.</p>

        <p><i class="fab fa-pagelines"></i> By buying local and in season you are supporting your community.</p>

        <p> FrigdID will help you achieve your goals. Simply search what ingredients you have in your fridge and FridgID will find a recipe for you.</p>


        <p>Sign up for our monthly newsletter to find out how to be better prepared for the seasons</p>
        <button id="get-sign-in">GET OUR NEWSLETTER</button>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3 class="header-index">THE EXPERIENCE</h3>
        <p><i class="fas fa-quote-left"></i><em> I’m a total foodie with real masterchef ambitions in the kitchen, however I’m ashamed to admit that I used to struggle with eating according to season.. and to be honest I didn't even know much about when you’re supposed to eat foods to get them at their best.</em></p>

        <p><em>But that all changed when I started using FridgID! With the app I have learned so much about eating seasonally, and the best part – everything tastes so much better when you cook with ingredients that at their top quality! </em><i class="fas fa-quote-right"></i></p>
        <p>– Lottie, 25</p>

        <p><i class="fas fa-quote-left"></i><em> I have been guilty of throwing away foods that I have in my fridge more times than I can count. This is since I can’t figure out what to do with them before they get old. This really used to bug me because I know how bad it is for the environment to waste food.</em></p>

        <p><em>The solution for me was to start using FridgID for planning my meals / finding recipes that help me to use up all good stuff lying in my fridge, and I must say, this has been life changing.  I can really recommend using FridgID for optimal food planning! </em><i class="fas fa-quote-right"></i></p>
        <p>– Cecile, 28</p>
      </div>

      <div class="seasonal-recipes">
        <h4>CHECK OUT OUR FAVOURITE RECIPES FOR AUTUMN</h4>
      </div>
    </div>
    <%= render 'recipes/selected_recipes' %>
  </div>
</div>

<%= javascript_pack_tag 'ing-auto' %>
<%= javascript_pack_tag 'search-active' %>


